interfaces:
  device: 0

protocols:
  dns:
    ports: [53]

    include_authorities: true
    include_additionals: true

  http:
    ports: [80]

  https:
    ports: [443]    

  ssh:
    ports: [22]

  mysql:
    ports: [3306]

  elasticsearch:
    ports: [9200, 9300]

  clojure:
    ports: [3000]

  kibana:
    ports: [5601]

output:
  elasticsearch:
     hosts: ["162.243.106.156:9200"]
